


/**
 * Widget Widths
 */
.elementor-widget {
  max-width: max-width($text-mw);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
}

/****
 * Margin for section boxed widgets
 *******/
.elementor-section-boxed .elementor-widget {
  &:not([class*="mv-"]):not([class*="mt-"]) {
    margin-top: spacing(2);
  }
  &:not([class*="mv-"]):not([class*="mb-"]) {
    margin-bottom: spacing(2);
  }
}

.elementor-section-full_width .elementor-widget {
  &:not([class*="mv-"]):not([class*="mt-"]):not(:first-child) {
    margin-top: spacing(2);
  }
  &:not([class*="mv-"]):not([class*="mb-"]):not(:last-child) {
    margin-bottom: spacing(2);
  }
}

.elementor-widget-video,
.elementor-widget-button {
  width: 100%;
}

.elementor-widget-image {
  width: auto;

  img {
    display: block;
  }
}

@include breakpoint-min(lg) {
  // Alternative max widths
  .wd-wide,
  .widget-wide,
  .widget--wide {
    max-width: max-width(sm);
  }
  .wd-wider,
  .widget-wider,
  .widget--wider {
    max-width: max-width(md);
  }
  .wd-full,
  .widget-full,
  .widget--full {
    max-width: 100%;
    min-width: 100%;
  }
}


/**********************************************************
 *
 * WIDGETS HORIZONTAL ALIGN
 */

@include breakpoint-min(lg) {

  // First column
  @at-root .elementor-row .elementor-column:first-child {
    .elementor-widget {
      margin-left: 0;
    }
  }

  // Last column
  @at-root .elementor-row .elementor-column:last-child {
    .elementor-widget {
      margin-right: 0;
    }
  }

  // Center column
  @at-root .elementor-row .elementor-column:first-child:last-child .elementor-widget {
    margin-left: auto;
    margin-right: auto;
  }

  ///
  // Nested Sections
  ///
  .elementor-inner-section .elementor-row .elementor-column:first-child .elementor-widget {
    margin-left: 0;
  }

  .elementor-inner-section .elementor-row .elementor-column:last-child .elementor-widget {
    margin-right: 0;
  }

  .elementor-inner-section .elementor-row .elementor-column:first-child:last-child .elementor-widget {
    margin-left: auto;
    margin-right: auto;
  }

  ///
  // Collapsed widgets
  ///
  .wd-r,
  .widget-right,
  .widget--right {
    margin-right: 0 !important;
    margin-left: auto !important;
  }
  .wd-l,
  .widget-left,
  .widget--left {
    margin-left: 0 !important;
    margin-right: auto !important;
  }

  .wd-c,
  .widget-center,
  .widget--center {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
