


/**
 * Widget Widths
 */
.elementor-widget {
  position: relative;
  width: 100%;

  .elementor-widget-container {
    max-width: max-width($text-mw);
    margin-left: auto;
    margin-right: auto;
  }
}

/****
 * Margin for section boxed widgets
 *******/
.elementor-section-boxed .elementor-widget {
  &:not([class*="mv-"]):not([class*="mt-"]) {
    margin-top: spacing(2);
  }
  &:not([class*="mv-"]):not([class*="mb-"]) {
    margin-bottom: spacing(2);
  }
}

.elementor-section-full_width .elementor-widget {
  &:not([class*="mv-"]):not([class*="mt-"]):not(:first-child) {
    margin-top: spacing(2);
  }
  &:not([class*="mv-"]):not([class*="mb-"]):not(:last-child) {
    margin-bottom: spacing(2);
  }
}

.elementor-widget-video,
.elementor-widget-button {
  width: 100%;
}

.elementor-widget-image {
  width: auto;

  img {
    display: block;
  }
}

@include breakpoint-min($col_bp) {
  // Alternative max widths
  .wd-wide,
  .widget-wide,
  .widget--wide {
    .elementor-widget-container {
      max-width: max-width(ms);
    }
  }
  .wd-wider,
  .widget-wider,
  .widget--wider {
    .elementor-widget-container {
      max-width: max-width(md);
    }
  }
  .wd-full,
  .widget-full,
  .widget--full {
    .elementor-widget-container {
      max-width: 100%;
      min-width: 100%;
    }
  }
}


/**********************************************************
 *
 * WIDGETS HORIZONTAL ALIGN
 */

 @include breakpoint-min($col_bp) {

   // First column
   @at-root .elementor-row .elementor-column:first-child {
     .elementor-widget .elementor-widget-container {
       margin-left: 0;
     }
   }

   // Last column
   @at-root .elementor-row .elementor-column:last-child {
     .elementor-widget .elementor-widget-container {
       margin-right: 0;
     }
   }

   // Center column
   @at-root .elementor-row .elementor-column:first-child:last-child .elementor-widget .elementor-widget-container {
     margin-left: auto;
     margin-right: auto;
   }

   ///
   // Nested Sections
   ///
   .elementor-inner-section .elementor-row .elementor-column:first-child .elementor-widget .elementor-widget-container {
     margin-left: 0;
   }

   .elementor-inner-section .elementor-row .elementor-column:last-child .elementor-widget .elementor-widget-container  {
     margin-right: 0;
   }

   .elementor-inner-section .elementor-row .elementor-column:first-child:last-child .elementor-widget .elementor-widget-container {
     margin-left: auto;
     margin-right: auto;
   }

   ///
   // Collapsed widgets
   ///
   .wd-r,
   .wd-right,
   .widget-right,
   .widget--right {
     .elementor-widget-container  {
       margin-right: 0 !important;
       margin-left: auto !important;
     }
   }
   .wd-l,
   .wd-left,
   .widget-left,
   .widget--left {
     .elementor-widget-container  {
       margin-left: 0 !important;
       margin-right: auto !important;
     }
   }

   .wd-c,
   .wd-center,
   .widget-center,
   .widget--center {
     .elementor-widget-container  {
       margin-left: auto !important;
       margin-right: auto !important;
     }
   }
 }
