/***************************
 * Custom margins
 ***************/

/********
 * Margin top
 *********/
.mt-none {
  margin-top: 0;
  &-d {
    @include breakpoint-min($col_bp) {
      margin-top: 0;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      margin-top: 0;
    }
  }
}

.mt-xs {
  margin-top: $l_v_xs;
  &-d {
    @include breakpoint-min($col_bp) {
      margin-top: $l_v_xs;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      margin-top: $l_v_xs;
    }
  }
}

.mt-sm {
  margin-top: $l_v_sm;
  &-d {
    @include breakpoint-min($col_bp) {
      margin-top: $l_v_sm;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      margin-top: $l_v_sm;
    }
  }
}

.mt-md {
  margin-top: $l_v_md;
  &-d {
    @include breakpoint-min($col_bp) {
      margin-top: $l_v_md;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      margin-top: $l_v_md;
    }
  }
}

.mt-lg {
  margin-top: $l_v_lg;
  &-d {
    @include breakpoint-min($col_bp) {
      margin-top: $l_v_lg;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      margin-top: $l_v_lg;
    }
  }
}

.mt-xl {
  margin-top: $l_v_xl;
  &-d {
    @include breakpoint-min($col_bp) {
      margin-top: $l_v_xl;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      margin-top: $l_v_xl;
    }
  }
}

/********
 * Margin bottom
 *********/
.mb-none {
  margin-bottom: 0;
  &-d {
    @include breakpoint-min($col_bp) {
      margin-bottom: 0;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      margin-bottom: 0;
    }
  }
}
.mb-xs {
  margin-bottom: $l_v_xs;
  &-d {
    @include breakpoint-min($col_bp) {
      margin-bottom: $l_v_xs;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      margin-bottom: $l_v_xs;
    }
  }
}

.mb-sm {
  margin-bottom: $l_v_sm;
  &-d {
    @include breakpoint-min($col_bp) {
      margin-bottom: $l_v_sm;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      margin-bottom: $l_v_sm;
    }
  }
}

.mb-md {
  margin-bottom: $l_v_md;
  &-d {
    @include breakpoint-min($col_bp) {
      margin-bottom: $l_v_md;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      margin-bottom: $l_v_md;
    }
  }
}

.mb-lg {
  margin-bottom: $l_v_lg;
  &-d {
    @include breakpoint-min($col_bp) {
      margin-bottom: $l_v_lg;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      margin-bottom: $l_v_lg;
    }
  }
}

.mb-xl {
  margin-bottom: $l_v_xl;
  &-d {
    @include breakpoint-min($col_bp) {
      margin-bottom: $l_v_xl;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      margin-bottom: $l_v_xl;
    }
  }
}

/********
 * Margin Vertical
 *********/

.mv-none {
  margin-bottom: 0;
  margin-top: 0;
  &-d {
    @include breakpoint-min($col_bp) {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
.mv-xs {
  margin-bottom: $l_v_xs;
  margin-top: $l_v_xs;
  &-d {
    @include breakpoint-min($col_bp) {
      margin-bottom: $l_v_xs;
      margin-top: $l_v_xs;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      margin-bottom: $l_v_xs;
      margin-top: $l_v_xs;
    }
  }
}

.mv-sm {
  margin-bottom: $l_v_sm;
  margin-top: $l_v_sm;
  &-d {
    @include breakpoint-min($col_bp) {
      margin-bottom: $l_v_sm;
      margin-top: $l_v_sm;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      margin-bottom: $l_v_sm;
      margin-top: $l_v_sm;
    }
  }
}

.mv-md {
  margin-bottom: $l_v_md;
  margin-top: $l_v_md;
  &-d {
    @include breakpoint-min($col_bp) {
      margin-bottom: $l_v_md;
      margin-top: $l_v_md;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      margin-bottom: $l_v_md;
      margin-top: $l_v_md;
    }
  }
}

.mv-lg {
  margin-bottom: $l_v_lg;
  margin-top: $l_v_lg;
  &-d {
    @include breakpoint-min($col_bp) {
      margin-bottom: $l_v_lg;
      margin-top: $l_v_lg;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      margin-bottom: $l_v_lg;
      margin-top: $l_v_lg;
    }
  }
}

.mv-xl {
  margin-bottom: $l_v_xl;
  margin-top: $l_v_xl;
  &-d {
    @include breakpoint-min($col_bp) {
      margin-bottom: $l_v_xl;
      margin-top: $l_v_xl;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      margin-bottom: $l_v_xl;
      margin-top: $l_v_xl;
    }
  }
}
