/*******
 * Bottom padding
 *************/
.pb-none {
  padding-bottom: 0;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-bottom: 0;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-bottom: 0;
    }
  }
}

.pb-xs {
  padding-bottom: $l_v_xs;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-bottom: $l_v_xs;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-bottom: $l_v_xs;
    }
  }
}

.pb-sm {
  padding-bottom: $l_v_sm;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-bottom: $l_v_sm;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-bottom: $l_v_sm;
    }
  }
}
.pb-md {
  padding-bottom: $l_v_md;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-bottom: $l_v_md;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-bottom: $l_v_md;
    }
  }
}
.pb-lg {
  padding-bottom: $l_v_lg;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-bottom: $l_v_lg;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-bottom: $l_v_lg;
    }
  }
}
.pb-xl {
  padding-bottom: $l_v_xl;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-bottom: $l_v_xl;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-bottom: $l_v_xl;
    }
  }
}


/*********
 * Vertical padding
 *************/
.pv-none {
  @include pad($v: 0);
  &-d {
    @include breakpoint-min($col_bp) {
      @include pad($v: 0);
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      @include pad($v: 0);
    }
  }
}
.pv-xs {
  @include pad($v: $l_v_xs);
  &-d {
    @include breakpoint-min($col_bp) {
      @include pad($v: $l_v_xs);
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      @include pad($v: $l_v_xs);
    }
  }
}
.pv-sm {
  @include pad($v: $l_v_sm);
  &-d {
    @include breakpoint-min($col_bp) {
      @include pad($v: $l_v_sm);
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      @include pad($v: $l_v_sm);
    }
  }
}
.pv-md {
  @include pad($v: $l_v_md);
  &-d {
    @include breakpoint-min($col_bp) {
      @include pad($v: $l_v_md);
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      @include pad($v: $l_v_md);
    }
  }
}
.pv-lg {
  @include pad($v: $l_v_lg);
  &-d {
    @include breakpoint-min($col_bp) {
      @include pad($v: $l_v_lg);
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      @include pad($v: $l_v_lg);
    }
  }
}
.pv-xl {
  @include pad($v: $l_v_xl);
  &-d {
    @include breakpoint-min($col_bp) {
      @include pad($v: $l_v_xl);
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      @include pad($v: $l_v_xl);
    }
  }
}


/***********
 * Bottom padding
 ****************/
.pt-none {
  padding-top: 0;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-top: 0;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-top: 0;
    }
  }
}
.pt-xs {
  padding-top: $l_v_sm;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-top: $l_v_sm;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-top: $l_v_sm;
    }
  }
}
.pt-sm {
  padding-top: $l_v_sm;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-top: $l_v_sm;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-top: $l_v_sm;
    }
  }
}
.pt-md {
  padding-top: $l_v_md;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-top: $l_v_md;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-top: $l_v_md;
    }
  }
}
.pt-lg {
  padding-top: $l_v_lg;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-top: $l_v_lg;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-top: $l_v_lg;
    }
  }
}
.pt-xl {
  padding-top: $l_v_xl;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-top: $l_v_xl;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-top: $l_v_xl;
    }
  }
}

/*********
 * Horizontal padding
 *************/
.ph-none {
  @include pad($h: 0);
  &-d {
    @include breakpoint-min($col_bp) {
      @include pad($h: 0);
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      @include pad($h: 0);
    }
  }
}
.ph-xs {
  @include pad($h: $l_h_xs);
  &-d {
    @include breakpoint-min($col_bp) {
      @include pad($h: $l_h_xs);
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      @include pad($h: $l_h_xs);
    }
  }
}
.ph-sm {
  @include pad($h: $l_h_sm);
  &-d {
    @include breakpoint-min($col_bp) {
      @include pad($h: $l_h_sm);
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      @include pad($h: $l_h_sm);
    }
  }
}
.ph-md {
  @include pad($h: $l_h_md);
  &-d {
    @include breakpoint-min($col_bp) {
      @include pad($h: $l_h_md);
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      @include pad($h: $l_h_md);
    }
  }
}
.ph-lg {
  @include pad($h: $l_h_lg);
  &-d {
    @include breakpoint-min($col_bp) {
      @include pad($h: $l_h_lg);
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      @include pad($h: $l_h_lg);
    }
  }
}
.ph-xl {
  @include pad($h: $l_h_xl);
  &-d {
    @include breakpoint-min($col_bp) {
      @include pad($h: $l_h_xl);
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      @include pad($h: $l_h_xl);
    }
  }
}

/***********
 * Left padding
 ****************/
.pl-none {
  padding-left: 0;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-left: 0;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-left: 0;
    }
  }
}
.pl-xs {
  padding-left: $l_h_sm;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-left: $l_h_sm;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-left: $l_h_sm;
    }
  }
}
.pl-sm {
  padding-left: $l_h_sm;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-left: $l_h_sm;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-left: $l_h_sm;
    }
  }
}
.pl-md {
  padding-left: $l_h_md;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-left: $l_h_md;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-left: $l_h_md;
    }
  }
}
.pl-lg {
  padding-left: $l_h_lg;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-left: $l_h_lg;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-left: $l_h_lg;
    }
  }
}
.pl-xl {
  padding-left: $l_h_xl;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-left: $l_h_xl;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-left: $l_h_xl;
    }
  }
}

/***********
 * Right padding
 ****************/
.pr-none {
  padding-right: 0;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-right: 0;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-right: 0;
    }
  }
}
.pr-xs {
  padding-right: $l_h_sm;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-right: $l_h_sm;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-right: $l_h_sm;
    }
  }
}
.pr-sm {
  padding-right: $l_h_sm;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-right: $l_h_sm;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-right: $l_h_sm;
    }
  }
}
.pr-md {
  padding-right: $l_h_md;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-right: $l_h_md;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-right: $l_h_md;
    }
  }
}
.pr-lg {
  padding-right: $l_h_lg;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-right: $l_h_lg;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-right: $l_h_lg;
    }
  }
}
.pr-xl {
  padding-right: $l_h_xl;
  &-d {
    @include breakpoint-min($col_bp) {
      padding-right: $l_h_xl;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      padding-right: $l_h_xl;
    }
  }
}
