/********************************************************
 * PUSH
 ******************************************************/
.pur-md {
  z-index: 2;
  margin-left: $l_h_md * 10 !important;
  margin-right: -$l_h_md * 10 !important;
  &-d {
    @include breakpoint-min($col_bp) {
      z-index: 2;
      margin-left: $l_h_md * 10 !important;
      margin-right: -$l_h_md * 10 !important;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      z-index: 2;
      margin-left: $l_h_md * 10 !important;
      margin-right: -$l_h_md * 10 !important;
    }
  }
}
.pur-lg {
  z-index: 2;
  margin-left: $l_h_lg * 10 !important;
  margin-right: -$l_h_lg * 10 !important;
  &-d {
    @include breakpoint-min($col_bp) {
      z-index: 2;
      margin-left: $l_h_lg * 10 !important;
      margin-right: -$l_h_lg * 10 !important;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      z-index: 2;
      margin-left: $l_h_lg * 10 !important;
      margin-right: -$l_h_lg * 10 !important;
    }
  }
}
.pur-xl {
  z-index: 2;
  margin-left: $l_h_xl * 10 !important;
  margin-right: -$l_h_xl * 10 !important;
  &-d {
    @include breakpoint-min($col_bp) {
      z-index: 2;
      margin-left: $l_h_xl * 10 !important;
      margin-right: -$l_h_xl * 10 !important;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      z-index: 2;
      margin-left: $l_h_xl * 10 !important;
      margin-right: -$l_h_xl * 10 !important;
    }
  }
}

.pul-md {
  z-index: 2;
  margin-right: $l_h_md * 10 !important;
  margin-left: -$l_h_md * 10 !important;
  &-d {
    @include breakpoint-min($col_bp) {
      z-index: 2;
      margin-right: $l_h_md * 10 !important;
      margin-left: -$l_h_md * 10 !important;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      z-index: 2;
      margin-right: $l_h_md * 10 !important;
      margin-left: -$l_h_md * 10 !important;
    }
  }
}
.pul-lg {
  z-index: 2;
  margin-right: $l_h_lg * 10 !important;
  margin-left: -$l_h_lg * 10 !important;
  &-d {
    @include breakpoint-min($col_bp) {
      z-index: 2;
      margin-right: $l_h_lg * 10 !important;
      margin-left: -$l_h_lg * 10 !important;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      z-index: 2;
      margin-right: $l_h_lg * 10 !important;
      margin-left: -$l_h_lg * 10 !important;
    }
  }
}
.pul-xl {
  z-index: 2;
  margin-right: $l_h_xl * 10 !important;
  margin-left: -$l_h_xl * 10 !important;
  &-d {
    @include breakpoint-min($col_bp) {
      z-index: 2;
      margin-right: $l_h_xl * 10 !important;
      margin-left: -$l_h_xl * 10 !important;
    }
  }
  &-m {
    @include breakpoint-max($col_bp) {
      z-index: 2;
      margin-right: $l_h_xl * 10 !important;
      margin-left: -$l_h_xl * 10 !important;
    }
  }
}
