.gallery-straight {

  &__row {
    @include flex-setup(-0.5)
  }

  &__image {
    @include flex-child(0.5, $wd: 25);
    @include marg($v: 0.5);
    
    &--5-col {
      width: 20%;
      flex-basis: 20%;
    }
    &--3-col {
      width: 33.333333%;
      flex-basis: 33.333333%;
    }
    &--2-col {
      width: 50%;
      flex-basis: 50%;
    }

    img {
      height: 100% !important;
    }
  }

  &__link{
    &--image-thumbnail,
    &--image-square-lg,
    &--image-square-md,
    &--image-square-sm {
      @include aspect-ratio(1,1);
    }

    &--image-landscape-lg,
    &--image-landscape-md,
    &--image-landscape-sm {
      @include aspect-ratio(1.6,1);
    }
    &--image-portrait-lg,
    &--image-portrait-md,
    &--image-portrait-sm {
      @include aspect-ratio(1,1.33333);
    }
  }
}

.shortcode__gallery-straight {
  @include marg($v: 4);
  max-width: none;
}

.elementor-widget-image-gallery {
  .shortcode__gallery-straight {
    
    @include breakpoint-min($col_bp) {
      @include marg($v: 0);
    }
  }
}